*.class

# Package Files #
*.jar
*.war
*.ear
/build-tools/geomajas-parent/target/
/backend/target/
/backend/api/target/
/backend/testdata/target/
/backend/api-experimental/target/
/backend/impl/target/
/backend/common-servlet/target/
/backend/command/target/
/project/geomajas-project-api/target/
/build-tools/geomajas-al-parent/target/
/project/geomajas-project-api/annotation/target/
/project/geomajas-project-geometry/target/
/project/geomajas-project-geometry/core/target/
/project/geomajas-project-geometry/jts/target/
/project/geomajas-project-geometry/documentation/target/